html {
  padding: 0;
  margin: 0;
}

.input-box {
  width: 50%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px; /* Rounded corners */
  font-size: 16px;
  outline: none;
  transition: border-color 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-box#skills {
  width: 100%;
}

.input-box:focus {
  border-color: #007bff; /* Blue border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Glow effect */
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
